

/*padding, border & margin included in size of containers*/
*{
    box-sizing: border-box;
}

[class*="col-"]{
    float: left;
    padding: 15px;
    border: 1px dotted red;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

html {
font-family: "Lucida Sans", sans-serif;
}

.header {
background-color: #9933cc;
color: #ffffff;
padding: 15px;
}

/*navigation bar*/
#navbar{
    background-color: aliceblue;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

li.navblock {
height: 100%;
background-color: #33b5e5;
}

li.navblock:hover {
background-color: #0099cc;
}

/*Text of the navigation bar*/
a.navref{
    color:gray
}

a.navref:hover{
    color: darkgray;
}

/*General Body*/
img{
    max-width: 100%;
    height: auto;
}


/*phone screen*/
@media screen and (max-width: 600px){
    [class*="col-"]{
        width: 100%;
    }

    body{
        background-color: olive;
    }
}

/*tablet*/
@media screen and (min-width: 600px){
   /*12 columns for responsive grid layout*/
    .col-1-t {width: 8.33%;}
    .col-2-t {width: 16.66%;}
    .col-3-t {width: 25%;}
    .col-4-t {width: 33.33%;}
    .col-5-t {width: 41.66%;}
    .col-6-t {width: 50%;}
    .col-7-t {width: 58.33%;}
    .col-8-t {width: 66.6%;}
    .col-9-t {width: 75%;}
    .col-10-t {width: 83.33%;}
    .col-11-t {width: 91.66%;}
    .col-12-t {width: 100%;} 

    body{
        background-color: brown;
    }
}

/*desktop*/
@media screen and (min-width: 900px){
   /*12 columns for responsive grid layout*/
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.6%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;} 

    body{
        background-color: thistle;
    }
}







