

/*padding, border & margin included in size of containers*/
*{
    box-sizing: border-box;
}

[class*="col-"]{
    float: left;
    padding: 15px;
    border: 1px dotted red;
    
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

html {
font-family: "Monaco", monospace;
}

/*General Body*/
img{
    max-width: 100%;
    height: auto;
}

.drop_button{
    display: inline-block;
    cursor:crosshair;
}

.bar1, .bar2, .bar3{
    width: 30px;
    height: 5px;
    background-color: coral;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1{
    transform: rotate(-45deg);
    margin: 0;
}

.change .bar2 {display: none;}

.change .bar3{
    transform: rotate(45deg);
    margin-top: 0;
    margin-bottom: 15px;
}

#navMenu{
    position: relative;
    display: inline-block;
}

.dropdown_content{
    display: none;
    position: absolute;
    background-color: green;
    box-shadow: 0px 8px 16px 0px rgb(252, 1, 189);
    z-index: 1;
}

.dropdown_content a{
    display: block;
}

.show{
    display: block;
}

.header{
    padding: 16px;
    background-color: #e533c4;
}

/*phone screen*/
@media screen and (max-width: 600px){
    /*[class*="col-"]{
        width: 100%;
    }*/
    .col-1-p {width: 16.6%;}
    .col-2-p {width: 33.3%;}
    .col-3-p {width: 50%;}
    .col-4-p {width: 66.6%;}
    .col-5-p {width: 83.3%;}
    .col-6-p {width: 100%;}

    body{
        background-color: olive;
    }

    #navBar{
        display: none;
    }

    
}

/*tablet*/
@media screen and (min-width: 600px){
   /*12 columns for responsive grid layout*/
    .col-1-t {width: 8.33%;}
    .col-2-t {width: 16.66%;}
    .col-3-t {width: 25%;}
    .col-4-t {width: 33.33%;}
    .col-5-t {width: 41.66%;}
    .col-6-t {width: 50%;}
    .col-7-t {width: 58.33%;}
    .col-8-t {width: 66.6%;}
    .col-9-t {width: 75%;}
    .col-10-t {width: 83.33%;}
    .col-11-t {width: 91.66%;}
    .col-12-t {width: 100%;} 

    body{
        background-color: brown;
    }
    
    #navBar{
        display: none;
    }

    #aboutMe{
        padding: 0 25% 0 25%;
        background-color: rgba(127, 255, 212, 0.323);
    }

}

/*desktop*/
@media screen and (min-width: 850px){
   /*12 columns for responsive grid layout*/
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.6%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;} 

    body{
        background-color: rgb(231, 152, 231);
    }

    /*navigation bar*/
    #navMenu{
        display: none;
    }

    #navBar{
        display: block;
        background-color: aliceblue;
        height: 100px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: right;
        font-weight: bolder;
        font-size: large;
    }

    li.navBlock {
        background-color: #e533c4;
        min-height: 100px;
    }

    li.navBlock:hover {
    background-color: #0099cc;
    }

    /*Text of the navigation bar*/
    a.navRef{
        color:rgb(38, 5, 104)
    }

    a.navRef:hover{
        color: rgb(252, 1, 189);
    }
}



